@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}

a:hover{
    background-color: rgb(172, 172, 172);
    color: black;
    font-style: oblique;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
}